.card {
  background-color: white;
  width: 100%; 
  max-width: 600px; 
  display: flex;
  gap: 24px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0px 0px 20px 5px #ae6dba;
  border: 2px solid #8c6dba;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.187);
}

.card img {
  width: 100%; 
  max-width: 280px; 
  height: auto; 
  border-radius: 14px;
}

.card .card-content {
  flex: 1;
}

.card .card-content h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(43, 50, 43);
  font-weight: 600;
  margin-bottom: 20px; 
}

.card .card-content p {
  font-size: 18px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 18px;
}

.card .card-content p span {
  font-size: 16px;
}

@media (max-width: 768px) {
  .card {
    padding: 24px; 
  }

  .card .card-content h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .card .card-content p {
    font-size: 16px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 450px) {
  .card {
    flex-direction: column; 
    align-items: center;
    text-align: center; 
  }

  .card img {
    order: -1; 
    margin-bottom: 20px; 
  }
}
