.event-list-wrapper {
  width: 100%;
  height: auto;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.event-list {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: auto auto; */
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 140px 20px 60px;
}
/* @media screen and (max-width:650px){
  .event-list{
    
  display: flex;
  flex-direction: column;
  }  
} */